################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Advanced-chess/.vs
/.vs/slnx.sqlite
